footer {
   background: #d0d0d0;
   width: 100%;
   text-align: right;
   padding: 20px;

   button {
      background: #d0d0d0;
      margin: 0px 20px;
      font-size: 1.3rem;
      font-weight: 600;
      padding: 10px;
      color: #a1a1a1;

      &:hover {
         border-radius: 5px;
         box-shadow: 0px 5px 15px -2px;
         background: #d0d0d0;
      }
   }
}