header {
   background: #9aabb3;
   width: 100%;
   text-align: right;
   padding: 20px;
}

h1 {
   font-size: 3.5rem;
   color: white;
}

body {
   font-family: Arial, sans-serif;
   background: #f1f1f1;
}