@import 'reset', 'header', 'footer', 'block_list';


main {
   padding: 0px 20px;
}

h2 {
   background: #c1d3f0;
   font-size: 3.5rem;
   text-align: center;
   margin-bottom: 10px;
}

section {
   margin: 20px auto;
   width: 100%;
   box-shadow: 0px 0px 10px grey;
}

form {
   padding: 10px;
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   gap: 20px;
   align-items: center;

   input {
      font-size: 1.2rem;
      border-radius: 5px;
      border: 2px solid grey;
      padding: 5px;

      &:focus {
            border: 2px solid #c1d3f0;
         }
   }

   button {
      width: 100px;
      font-size: 1.3rem;
      font-weight: 600;
      padding: 10px;
      background: #4cb04f;
      color: white;
      border-radius: 5px;

      &:hover {
          box-shadow: 0px 0px 8px -2px black;
      }
   }
}

