@import 'reset', 'header', 'footer';


main {
   padding: 0px 20px;
}

h2 {
   background: #c1d3f0;
   font-size: 3.5rem;
   text-align: center;
}

section {
   margin: 20px auto;
   width: 100%;
   box-shadow: 0px 0px 10px grey;
}

li {
   width: 100%;
   text-align: left;
   padding: 20px;
   font-size: 1.3rem;
   border-bottom: 1px solid grey;
   list-style-type: none;

   &:hover {
      background: #fef5e6;
   }
}