@import 'reset', 'header', 'footer';

$widthSelect: 150px;

@mixin formDisplay {
   display: flex;
   flex-direction: column;
   width: 300px;
}

@mixin widthInput {
   font-size: 1.2rem;
   border-radius: 5px;
   border: 2px solid grey;
   padding: 5px;
}

main {
   padding: 0px 20px;
}

section {
   margin: 20px auto;
   width: 100%;
}

.added_information {
   display: flex;
   align-items: center;
   height: 50px;
   width: 100%;
   border-radius: 5px;
   padding: 20px;
   color: white;
   background: #4cb04f;
   font-size: 1.5rem;
   margin-bottom: 20px;
}

h2 {
   font-size: 3.5rem;
   color: white;
   background: #4cb04f;
   padding: 20px;
   text-align: center;
}

form {
   @include formDisplay;
   padding: 20px;
   gap: 10px;

   label {
      @include formDisplay;
      font-size: 1.3rem;
      gap: 5px;

      input {
         @include widthInput;

         &:focus {
            border: 2px solid #c1d3f0;
         }
      }


      select {
         width: $widthSelect;
         @include widthInput;
         
      }
   }

   button {
      width: 100px;
      font-size: 1.3rem;
      font-weight: 600;
      padding: 10px;
      background: #4cb04f;
      color: white;
      border-radius: 5px;

      &:hover {
          box-shadow: 0px 0px 8px -2px black;
      }
   }
}

.email {
   width: 300px;
}