@import 'reset', 'header', 'footer', 'block_list';


main {
   padding: 0px 20px;
}

h2 {
   background: #c1d3f0;
   font-size: 3.5rem;
   text-align: center;
   margin-bottom: 10px;
}

section {
   margin: 20px auto;
   width: 100%;
   box-shadow: 0px 0px 10px grey;
}
