@import 'reset', 'header';

main {
   margin: 20px auto;
   width: 100%;
   max-width: 500px;
   text-align: center;
}

button {
   margin: 0px 20px;
   font-size: 1.3rem;
   font-weight: 600;
   padding: 10px;

   &:hover {
      background: #4cb04f;
      color: white;
       border-radius: 5px;
       box-shadow: 0px 0px 8px -2px black;
   }
}