* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  background: #9aabb3;
  width: 100%;
  text-align: right;
  padding: 20px;
}

h1 {
  font-size: 3.5rem;
  color: white;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
}

footer {
  background: #d0d0d0;
  width: 100%;
  text-align: right;
  padding: 20px;
}
footer button {
  background: #d0d0d0;
  margin: 0px 20px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  color: #a1a1a1;
}
footer button:hover {
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 15px -2px;
          box-shadow: 0px 5px 15px -2px;
  background: #d0d0d0;
}

main {
  padding: 0px 20px;
}

section {
  margin: 20px auto;
  width: 100%;
}

.added_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  color: white;
  background: #4cb04f;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 3.5rem;
  color: white;
  background: #4cb04f;
  padding: 20px;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  padding: 20px;
  gap: 10px;
}
form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  font-size: 1.3rem;
  gap: 5px;
}
form label input {
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 5px;
}
form label input:focus {
  border: 2px solid #c1d3f0;
}
form label select {
  width: 150px;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 5px;
}
form button {
  width: 100px;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  background: #4cb04f;
  color: white;
  border-radius: 5px;
}
form button:hover {
  -webkit-box-shadow: 0px 0px 8px -2px black;
          box-shadow: 0px 0px 8px -2px black;
}

.email {
  width: 300px;
}